<!DOCTYPE html>
<html>
<head>
	<title></title>
</head>
<body>
	 <div class="row">
    <form align="center">
      <div class="row">
        <div class="input-field col s6">
         <h1>Sign-up for free</h1><hr>
          <label for="first_name">First Name</label><br><input id="first_name" type="text" class="validate">
          
        </div>
        <div class="input-field col s6">
          <label for="last_name">Last Name</label><br>
          <input id="last_name" type="text" class="validate">
        </div>
      </div>
       <div class="row">
        <div class="input-field col s12">
        <label for="password">Password</label><br>
          <input id="password" type="password" class="validate">
        </div>
      </div>
      <div class="row">
        <div class="input-field col s12">
        	<label for="email">Email</label><br>
          <input id="email" type="email" class="validate">
        </div>
      </div>

      <div class="row">
        <div class="input-field col s12">
        	<br>
          <input id="Button" type="Button" class="validate" value="Submit">
        </div>
      </div>
    </form>
  </div>




</body>
</html>